body{
    font-family: 'Oswald', sans-serif;
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

.center{
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#file_container{
    transition:0.9s;
}

#modal_title{
    text-transform: uppercase;
    text-align: center;
}

.modal-header {
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0;
}

.modal-body div.row,
#data-header{
    margin: 5px;
    padding: 5px;
}

#data-header {
    padding-bottom: 0;
    margin-bottom: 0;
    background: #000;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #FFF;
}

.modal-body div.row:nth-child(odd){
    background: #E0E0E0;
}

.modal-body div.row .car_color{
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    padding: 0;
    text-shadow: #000 2px 1px 1px;
}

.notice{
    text-align: center;
    font-size: 12px;
}

.tools{
    margin-top:50px;
    opacity: 0;
    text-transform: 0.9s
}

.tools-icon{
    font-size: 60px;
    cursor: pointer;
    transition:0.3s;
}

.tools-icon:hover{
    /*font-size: 80px;*/
}

.fa-bar-chart:hover,
.fa-bar-chart.active{
    color:#e67e22;
}

.fa-tree:hover,
.fa-tree.active{
    color:#2ecc71;
}

.fa-cube:hover,
.fa-cube.active{
    color:#e74c3c;
}

.fa-smile-o:hover{
    color:#f1c40f;
}

.fa-bars:hover,
.fa-bars.active{
    color:#9b59b6;
}

.fa-cloud:hover{
    color:#3498db;
}

.chart_title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 4px;
    border: 1px dashed #000;
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

.chart_content{
    opacity: 0;
    transition:0.9s;
}

/* Aggregation data */

#aggregation_data_title {
    margin-top:15px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    width:100%;
}

#aggregation_data {
    margin-top:10px;
    margin-bottom:15px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.aggregation_data_line {
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
}

.aggregation_data_line .aggregation_data_line_title {
    font-weight:bold;
}

.aggregation_data_line .aggregation_data_line_value {

}

/* Bar diagram */

#bar_chart{
    margin-top:20px;
    height: 300px;
    width: 1210px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-left: 15px;
}

#bar_chart .bar{
    width: 50px;
    background: #000;
    position: absolute;
    cursor: pointer;
    transition:0.9s;
}

#bar_chart .bar.male {
    background-color: #2980b9;
}

#bar_chart .bar.female {
    background-color: #c0392b;
}

#bar_chart .bar.init{
    height:5px!important;
}

#bar_chart .bar.male:hover{
    background-color: #3498db;
}

#bar_chart .bar.female:hover{
    background-color: #e74c3c;
}

#bar_chart .bar div{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    opacity: 0;
    transition:0.9s;
}

#bar_chart .bar.male div{
    color: #3498db;
}

#bar_chart .bar.female div{
    color: #e74c3c;
}

#bar_chart_x_axis{
    margin-top: 10px;
    position: absolute;
}

#bar_chart_y_axis{
    transform: rotate( -90deg);
    transform-origin: left bottom 0;
    top: 435px;
    position: absolute;
    padding: 10px;
}

#bar_chart_x_axis div:first-child{
    padding-left: 0px;
}

#bar_chart_x_axis div{
    display: inline-block;
    padding-left: 135px;
}

#x_axis_domain_name{
    float: right;
    margin-top: 10px;
}

#bar_chart_legend{
    text-align: center;
}

#bar_chart_legend div{
    display: inline-block;
    margin-top: 40px;
    padding: 10px;
    border-radius: 8px;
}

#bar_chart_legend_var_1{
    background-color: #2980B9;
    color: #FFF;
}

#bar_chart_legend_var_2{
    background-color: #c0392b;
    color: #FFF;
}

/* Tree diagram */

#tree_diagram{
    margin-top:30px;
}

.tree_diagram_layer{
    width:25%;
    float: left;
    text-align: center
}

.gender_group:first-child div:first-child{
    margin-top: 30px;
}

#tree_diagram_layer_1 div{
    display: table;
    margin-top: 45px;
    margin-left: auto;
    margin-right:auto;
    padding: 5px;
    color: #FFF;
    background: #34495e;
    width: 50px;
    border-radius: 30px;
    transition:0.9s;
}

.gender_group:first-child{
    margin-top:0px;
}


.gender_group{
    margin-top: 25px;
}

.gender_group div{
    display: table;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    padding: 0px;
    width: 50px;
    border-radius: 30px;
    color:#FFF;
    background: #34495e;
    transition:0.9s;
}

/* 3d diagram */

#threed_diagram {
    margin-top:30px;
    width:100%;
    height:500px;
    display:block;
}

#threed_diagram_select {
    margin-top:25px;
    text-align:center;
}

#threed_diagram svg{
    display:block;
    margin:0 auto;
}

#threed_diagram .water {
    fill: #40a4df;
}

#threed_diagram .land {
    fill: #4CBB17;
    stroke: #FFF;
    stroke-width: 0.7px;
}

/*#threed_diagram .land:hover {
    fill:#5DFC0A;
    stroke-width: 1px;
}*/

#threed_diagram .focused {
    fill: #5DFC0A;
}

#threed_diagram select {
    margin-top:20px;
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
}

#threed_diagram .countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}

/* parallel coords */

#parallelcords_diagram {
    margin-top:30px;
    width:100%;
    height:400px;
    display:block;
}

#parallelcords_diagram svg {
    font: 10px sans-serif;
    display:block;
    margin:0 auto;
}

#parallelcords_diagram .background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

#parallelcords_diagram .foreground path {
    fill: none;
    stroke: black;
}

#parallelcords_diagram .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#parallelcords_diagram .axis line,
#parallelcords_diagram .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#parallelcords_diagram .axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}