body{
    font-family: 'Oswald', sans-serif;
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#file_container{
    transition:0.9s;
}

#modal_title{
    text-transform: uppercase;
    text-align: center;
}

.modal-body div.row{
    margin: 5px;
    padding: 5px;
}

.modal-body div.row:nth-child(odd){
    background: #E0E0E0;
}

.modal-body div.row .car_color{
    border-radius: 5px;
    text-align: center;
    color: #FFF;
    padding: 0;
    text-shadow: #000 2px 1px 1px;
}

.notice{
    text-align: center;
    font-size: 12px;
}